{% extends "base.html" %}

{% block title %} email group list {% endblock %}

{% block content %}

{% if emaillists %}
    <table>
    <tr><th>name</th><th>desc</th><th>actions</th></tr> 
    {% for el in emaillists %}
        <tr><td>{{el.name}}</td><td>{{el.desc}}</td><td><a class='button' href='{{el.key.id}}'>show</a>&nbsp;<a class='button' href='edit/{{el.key.id}}'>edit</a></td></tr>
    {% endfor %}
    </table>
{% else %}
    no email group
{% endif %}

  <a class='button' href='/emails/groups/create/'>create</a>
  <a class='button' href='/emails/groups/'>reload</a>

{% endblock %}
