{% extends "base.html" %}


{% block content %}
    file info:<br>
    filename = {{ info.filename }}<br>
    contenttype = {{ info.content_type }}<br>
    size = {{ info.size }}<br>
    key = {{ info.key }}<br>
    <br>
    <a class='button' href='..'>back to list</a>
    <a class='button' href='decode/1250/'>decode 1250</a>
    <a class='button' href='decode/latin2/'>decode latin2</a>
    <a class='button' href='/vital/register_csv_order/{{info.key}}/'>register as csv order</a>
    <a class='button' href='/vital/show_csv_order/{{info.key}}/'>show as csv order</a>
    <a class='button' href='/emails/parse_email/{{info.key}}/'>parse as email</a>
    <a class='button' href='/tasks/incoming_email/{{info.key}}/'>reprocess incoming email</a>
{% endblock %}

