{% extends "base.html" %}

{% block title %} school categories {% endblock %}

{% block content %}


{% include "school/season_switch.html" %}

<br>



{% if category_list %}
    <table>
    <tr><th>id</th><th>name</th><th>hidden</th><th>action</th></tr>
    {% for s in category_list %}
    <tr>
    <td>{{s.key|gae_key}}</td>
    <td>{{s.name}}</td>
    <td>{{s.hidden}}</td>
    <td>
        <a class='button' href='{{s.key.id}}/'>show</a>&nbsp;        
        <a class='button' href='{{s.key.id}}/edit/'>edit</a>&nbsp;        
    </td>
    </tr>
    {% endfor %}
    </table>
    
{% else %}
    no category
{% endif %}

<a class='button' href='create/'>create</a>
<a class='button' href=''>reload</a>


{% endblock %}
