{% extends "base.html" %}

{% block title %} school categories {% endblock %}

{% block content %}


{% if season_navi_list %}

    <form method="post" name="form">
        season:
        <select name="switch_season">
        {% for s in season_navi_list %} 
            <option {% if s.selected %} selected {% endif %} value="{{s.value}}">{{s.label}}</option>
        {% endfor %}
        </select>
        <input class="button" type="submit" value="select">
    </form>
{% else %}
    no list
{% endif %}
<br>



{% if category_list %}
    <table>
    <tr><th>id</th><th>name</th><th>hidden</th><th>action</th></tr>
    {% for s in category_list %}
    <tr>
    <td>{{s.key|gae_key}}</td>
    <td>{{s.name}}</td>
    <td>{{s.hidden}}</td>
    <td>
        <a class='button' href='{{s.key.id}}/'>show</a>&nbsp;        
        <a class='button' href='{{s.key.id}}/edit/'>edit</a>&nbsp;        
    </td>
    </tr>
    {% endfor %}
    </table>
    
{% else %}
    no category
{% endif %}

<a class='button' href='create/'>create</a>
<a class='button' href=''>reload</a>


{% endblock %}
