{% extends "base.html" %}

{% block title %} school test {% endblock %}

{% block content %}


{% if dump_seasons %}
    seasons
    {% with dump_seasons as seasons %}
        {% include "school/table_seasons.html" %}
    {% endwith %}
{% endif %}

{% if dump_categories %}
    categories
    {% with dump_categories as categories %}
        {% include "school/table_categories.html" %}
    {% endwith %}
{% endif %}

{% if dump_courses %}
    courses
    {% with dump_courses as courses %}
        {% include "school/table_courses.html" %}
    {% endwith %}
{% endif %}

{% if dump_groups %}
    groups
    {% with dump_groups as groups %}
        {% include "school/table_groups.html" %}
    {% endwith %}
{% endif %}

{% if dump_students %}
    students
    {% with dump_students as students %}
        {% include "school/table_students.html" %}
    {% endwith %}
{% endif %}



<br>
<a class='button' href='?action=dump'>dump</a>
<a class='button' href='?action=setup'>setup</a>
<a class='button' href='?action=reset'>reset</a>

{% endblock %}
