{% extends "base.html" %}

{% block title %} school test navi {% endblock %}

{% block content %}


<div class='box'>
{% if list %}
    <select>
    {% for i in list %} 
    <optgroup label="{{i.label}}">
        {% for si in i.list %}
            <option value="{{si.value}}">{{si.label}}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
    </select>
{% else %}
    no list
{% endif %}
</div><br>

<div class='box'>
{% if list %}
    <ul class='navi'>
     {% for i in list %} 
    <li class='navi'>{{i.label}}
        <ul class='navi'>
        {% for si in i.list %}
            {% if si.link %}
            <li class='navi'><a class='navi' href='{{si.link}}'>{{si.label}}</a></li>
            {% else %}
            <li class='navi'><a class='navi' href='{{si.value}}/'>{{si.label}}</a></li>
            {% endif %}
        {% endfor %}
        </ul> 
    </li>
    {% endfor %}
    </ul>
{% else %}
    no list
{% endif %}
</div><br>

<div class='box'>
{% if list %}
    <ul class='navi'>
     {% for i in list %} 
    <li class='navi'>{{i.label}} - 
        {% for si in i.list %}
            {% if si.link %}
            <a class='navi' href='{{si.link}}'>{{si.label}}</a>
            {% else %}
            <a class='navi' href='{{si.value}}/'>{{si.label}}</a>
            {% endif %}
            &nbsp;
        {% endfor %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    no list
{% endif %}
</div><br>



<a class='button' href=''>reload</a>

{% endblock %}
